
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="./_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="./_resources/rose.ico" />

        <script type="text/javascript" src="./_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="./_scripts/external.js"> </script>
    <script type="text/javascript" src="./_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="./resources">Resources</a></li>
                <li><a href="./contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="./_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="./_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="./_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


    <h1 class="center">What we believe</h1>
    <p class="citation center">The following text was taken from the <a href="http://www.lcms.org/pages/internal.asp?NavID=112">Belief &amp; Practice</a> explanation<br /> on the Lutheran Church - Missouri Synod's website.</p>

    <p>With the universal Christian Church, <a href="http://www.lcms.org" target="_blank">The Lutheran Church&#8212;Missouri Synod <img src="./_resources/externalLink.gif" alt="offsite link" /></a> teaches and responds to the love of the Triune God: the Father, creator of all that exists; Jesus Christ, the Son, who became human to suffer and die for the sins of all human beings and to rise to life again in the ultimate victory over death and Satan; and the Holy Spirit, who creates faith through God's Word and Sacraments. The three persons of the Trinity are coequal and coeternal, one God.</p>
    <p>Being "<a href="http://www.lcms.org/graphics/assets/media/LCMS/wa_beinglutheran.pdf">Lutheran <img src="./_resources/externalLink.gif" alt="offsite link" /></a>," our congregations accept and teach Bible-based teachings of <a href="http://www.lcms.org/pages/internal.asp?NavID=2357" target="_blank">Martin Luther <img src="./_resources/externalLink.gif" alt="offsite link" /></a> that inspired the reformation of the Christian Church in the 16th century. The teaching of Luther and the reformers can be summarized in three short phrases: <em>Grace alone, Faith alone, Scripture alone.</em></p>
    <p><b>Grace alone.</b> God loves the people of the world, even though they are sinful, rebel against Him and do not deserve His love. He sent Jesus, His Son, to love the unlovable and save the ungodly.</p>
    <p><b>Faith alone.</b> By His suffering and death as the substitute for all people of all time, Jesus purchased and won forgiveness and eternal life for them. Those who hear this Good News and believe it have the eternal life that it offers. God creates faith in Christ and gives people forgiveness through Him.</p>
    <p><b>Scripture alone.</b> The <a href="http://www.lcms.org/graphics/assets/media/LCMS/wa_bible1.pdf">Bible <img src="./_resources/externalLink.gif" alt="offsite link" /></a> is God's inerrant and infallible Word, in which He reveals His Law and His <a href="http://www.lcms.org/graphics/assets/media/LCMS/wa_gospel.pdf">Gospel <img src="./_resources/externalLink.gif" alt="offsite link" /></a> of salvation in Jesus Christ. It is the sole rule and norm for Christian doctrine.</p><br />

  <h2>Who is Jesus?</h2>
  <img src="./_resources/banner01.jpg" width="138" height="277" alt="Church banner: people worshipping at the cross" class="floatRight imagePadding"/>
  <p>For more than 2,000 years people have asked the question, "<a class="" href="http://www.lcms.org/pages/default.asp?NavID=2707" target="_blank">Who is Jesus <img src="./_resources/externalLink.gif" alt="offsite link" /></a>?". We were not present when Jesus lived on this earth, but in the Bible we have the record of his birth, life, death on the cross, and resurrection. Study of the Bible, God's Word, will enable you to seek out the answer to this age-old question.</p>

    <h2>What does "Synod" mean?</h2>
    <p>The word "Synod" in The Lutheran Church&#8212;Missouri Synod comes from Greek words that mean "walking together." The term has rich meaning in our church body, because congregations voluntarily choose to belong to the Synod. Though diverse in their service, these congregations hold to a shared confession of Jesus Christ as taught in Holy Scripture and the <a href="http://www.lcms.org/pages/internal.asp?NavID=522" target="_blank">Lutheran Confessions <img src="./_resources/externalLink.gif" alt="offsite link" /></a> which they believe are a correct interpretation and presentation of Biblical <a href="http://www.lcms.org/pages/internal.asp?NavID=523" target="_blank">doctrine <img src="./_resources/externalLink.gif" alt="offsite link" /></a>. Contained in <em><a href="http://www.lcms.org/pages/internal.asp?NavID=522" target="_blank" >The Book of Concord <img src="./_resources/externalLink.gif" alt="offsite link" /></a>: The Confessions of the Evangelical Lutheran Church</em>, these statements of belief were put into writing by church leaders during the 16th century. The simplest of these is <a href="http://www.lcms.org/graphics/assets/media/LCMS/smallcatechism.pdf">Luther's Small Catechism <img src="./_resources/externalLink.gif" alt="offsite link" /></a>. The <a href="http://www.lcms.org/graphics/assets/media/LCMS/augsburgconfession.pdf">Augsburg Confession <img src="./_resources/externalLink.gif" alt="offsite link" /></a> gives more detail on what Lutherans believe. Read an <a href="http://www.lcms.org/graphics/assets/media/LCMS/synod.pdf">article <img src="./_resources/externalLink.gif" alt="offsite link" /></a> from the May 2004 <em>Lutheran Witness</em> about what a "Synod" is.</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="./confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="./resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="./preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="./contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->
<div id="rightColImage">
  <br /><br /><br /><br /><br /><br /><br /><br /><br />
  <img src="./_resources/altarImages/altar1.jpg" width="230" alt="Photo of the altar" class="whiteBorder" />
</div>

  <br /><br /><br />
  <p class="small"><em><strong>The Luther Rose</strong>, also known as the Luther Seal, is easily the most recognized symbol for Lutheranism, and for good reason. Martin Luther personally oversaw the creation of this symbol. It provides a beautiful summary of his faith, a faith that is common to all Christians, of every place and every time.</em><br /><br /> Learn <a href="http://www.lcms.org/pages/internal.asp?NavID=2558" target="_blank" class="small">how Luther explained the meaning of his seal <img src="./_resources/externalLink.gif" alt="offsite link" /></a></p>

            <p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">

        </div>
    </div>
    </body>
</html>