
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="./_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="./_resources/rose.ico" />

        <script type="text/javascript" src="./_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="./_scripts/external.js"> </script>
    <script type="text/javascript" src="./_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="./resources">Resources</a></li>
                <li><a href="./contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="./_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="./_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="./_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->

    <h1 class="center">Contact</h1>
    <p><strong>Phone</strong> (360) 830-4180</p>
    <p><strong>Mail</strong> &nbsp;&nbsp;&nbsp;&nbsp;P.O. BOX 740<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seabeck, WA 98380</p>

    <h1 class="center">Directions</h1>
    <p>Evergreen Lutheran Church is located at the corner of <strong>NW Holly Rd</strong> and <strong>NW Seabeck Holly Rd</strong>.</p>
    <p>From highway 3, near Silverdale</p>
    <ol>
        <li>Take the <strong>Newberry Hill Rd</strong> exit</li>
        <li>If traveling south, turn <strong>right</strong> on to <strong>NW Newberry Hill Rd</strong> - go <strong>3.0 mi</strong><br />If traveling north, turn <strong>left</strong> on to <strong>NW Newberry Hill Rd</strong> - go <strong>3.0 mi</strong></li>
        <li>Turn <strong>left</strong> at <strong>Seabeck Hwy NW</strong> - go <strong>2.0 mi</strong></li>
        <li>Turn <strong>right</strong> at <strong>NW Holly Rd</strong> - go <strong>5.0 mi</strong></li>
        <li>The church's entrance is on the <strong>right</strong> at the end of <strong>NW Holly Rd</strong><br /><br />
        <em>If you miss the turn,</em><br />
        Turn <strong>right</strong> on <strong>NW Seabeck Holly Rd.</strong><br />
        The second entrance will be on your <strong>right</strong></li>
    </ol>

</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="./confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="./resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="./preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="./contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->

    <div id="rightColImage">
        <a href="http://maps.google.com/maps?f=q&hl=en&q=3200+NW+Seabeck+Holly+Rd,+Seabeck,+WA+98380&ie=UTF8&z=15&ll=47.594791,-122.851353&spn=0.015339,0.035577&om=1&iwloc=A" target="_blank"><img src="./_resources/map.jpg" width="232" alt="Google map" class="whiteBorder" />
        <p class="center">click to open map</p></a>
    </div>

            <p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        </div>
    </div>
    </body>
</html>