
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
  </center>

  <p><em>And when they had come to the place called Calvary,
  There they crucified him...<br />
  Luke 23:33</em></p>

  <p>Dear Beloved in Christ,</p>

  <p>Crucifixion was introduced into Palestine by Alexander the Great. It was a most torturous way of putting a human being to death. It meant hours of suffering, naked and humiliated in the hot sun. It meant dizziness, loss of blood, cramps, and fever. After agonizing pain, the legs would be broken with a sledge hammer to speed up the death of the victim.</p>

  <p>The victim was nailed to the cross while it was lying on the ground. Then, with the victim hanging on it, the cross was lifted and dropped into a hole that had been dug for it. All this caused additional pain to the man who was being executed. To such atrocities Jesus was subjected upon Golgotha, the place of the skull.</p>

  <p>And so we behold him who has no sin and who went about doing good. He was suffering the pangs of hell that we might be redeemed. All this he suffered for us and for our disobedience.</p>

  <p>They placed a sign over his head that told the crowd why this Man was dying on that cross: "This is Jesus, the King of the Jews."</p>

  <p>That he was and more. He is the Lord and Ruler of the universe, and the day will come when every knee shall bow and confess him as Lord.</p>

  <p>Men mocked and jeered. "If you are the Son of God, come down from the cross." He didn't because love held him to that cross not the nails.</p>

  <p>He was forsaken by God the Father. And because he was forsaken, we need not go to that forsaken place to be forever separated from the Lord. Heaven's gates are opened that we might live in our Father's presence for all eternity.</p>

  <p>Things to keep in our hearts as we journey to Calvary.</p>


  <p>In His Name,</p>
  <p>Pastor Ross</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>