
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
  </center>

  <center><em>Listen to what the Lord says...He has showed you, O man, what is good.<br />Micah 6:1,8</em></center>

  <p>Dear Friends in Christ,</p>

  <p>"Listen to the Lord" is good advice; but where will we hear his voice The society we live in has all kinds of answers. Meditate, and come into contact with the divine part of you. Go to the mountains, to the seashore, or to the forest and commune with God in nature. Listen to the voice inside of you and let it reveal God's will. Find some person who has special spiritual insight, and let him tell you what God wants you to know.</p>

  <p>The prophet Micah had none of these things in mind when he told the Israelites of his day to listen to what the Lord says. They were to listen to him because he was one of the Lord's inspired prophets. In Micah's case, that revelation came as a vision which the Lord granted him. When the Israelites needed to know what the Lord was saying to them, they were to turn to men like Micah; his contemporary, Isaiah; or the great prophet that preceded them all, Moses.</p>

  <p>Where will we turn? Listen to the writer to the Hebrews. He begins his New Testament book by saying, "In the past God spoke to our forefathers through the prophets at many times and in various ways, but in these last days he has spoken to us by his Son..." (Heb 1:1,2). Turn to scriptures, the words of the Old Testament prophets and the New Testament apostles of Jesus. That is where the Lord wants to speak to you.</p>

  <p>He has marvelous things that he wants to tell you. He wants you never to forget that you are a sinner who ought to spend eternity in damnation for the way you love yourself instead of your neighbor and for the way you fail to glorify the Lord in what you think, say, and do. He wants you to be certain of the never-ending love he has for you that moved him to send Jesus Christ as your Savior. He wants to encourage you to live for him and his glory. What a God! What a message!</p>

  <p>In worship we have the privilege to hear the Lord speak to us in scripture and the sermon. Don't let it end there, however. Don't wait until next week to hear him again. The Lord wants to speak to you every day. Turn to his Word daily. He has much to say to you.</p>


  <p>In His Service,</p>
  <p>Pastor Ross</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>