
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
  </center>

  <center><em>"I am the First and the Last<br/>I am the Living One; I was dead<br/>And behold I am alive forever and ever!<br/>And I hold the keys of death and Hades."<br/>Revelation 1:17,18</em></center>

  <p>Easter blessings in the name of our risen Lord and Savior, Christ Jesus. Amen</p>

  <p>Over the years some great Easter Sermons have been preached. Job, perhaps some 1500 years before the Savior was born, proclaimed: <em>"I know that my Redeemer lives."</em> An angel proclaimed Jesus' resurrection with the unforgettable words: <em>"He is not here; he is risen!"</em> Paul said it this way: <em>"Where O death, is your sting?"</em> The sting of death is sin, and the power of sin is the law. But thanks be to God! He gives us the victory through our Lord, Jesus Christ. But there's never been an Easter sermon like the one John heard from the lips of our Lord on the island of Patmos.</p>

  <p>There has never been a preacher like this one. Listen to him. <em>"I was dead,"</em> he says. Now the fact that Jesus died does not make him unique. Death is all around us. But no one ever died the way Jesus died. Every other human being dies as a result of his own sins. But Jesus was without any sin of his own. He died because <em>"God made him who has no sin to be sin for us, so that in him we might become the righteousness of God."</em> Jesus, the innocent son of God, died because God convicted him of all sins, yours, and mine.</p>

  <p>And then God raised Jesus from the dead. By raising his Son from the dead, God was declaring that all the sins he has carried to the cross were paid for. His resurrection is our assurance that God declared us to be forgiven.</p>

  <p>Jesus proclaims this great truth saying: <em>"Behold, I am alive forever and ever."</em> He has won the victory over death. Paul tells us: <em>"Since Christ was raised from the dead, he cannot die again; death no longer has mastery over him."</em></p>

  <p>Our living Lord, <em>"holds the keys of dead and Hades."</em> He truly is as he claimed to be, <em>"the Resurrection and the Life."</em> His promise has proven to be true: <em>"He who believes in me will live, even though he dies; and whoever lives and believes in me will never die."</em> Because he lives, we shall live also. We too shall claim his victory! We are the resurrection people.</p>



  <p>In His Service,</p>
  <p>Pastor Ross</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>