
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
  </center>

  <p>Dear Friends in Christ,</p>

  <p>Greetings in the name of our risen Lord and Savior, Christ Jesus. Amen.</p>
  <br />
  <center><p><em>As he was leaving the temple, one of his disciples said to him, "Look, Teacher! What massive stones! What magnificent buildings!"<br />"Do you see all these great buildings?" replied Jesus. "Not one stone here will be left on another; every one will be thrown down."<br />Mark 13:1-2</em></p></center>
  <br />
  <p>The world is full of magnificent structures and many other things that draw our interest, things that seem so solid and so important. That's the way our busy lives are, full of things that seem so important, things that demand our attention.</p>

  <p>Let's consider how we live our busy lives. Our days are filled with work and household chores. For some of us it is education which consumes much of our time, or seeking employment, or family responsibilities. Recreation, entertainment, and shopping demand our time.</p>
  <p>Attention is focused on the things we need: food, clothes, shelter; or the things we want: TV's, boats, new cars and all kinds of other toys. Our energies are consumed in getting money for future needs: a house, education for the kids, getting ready for retirement, or in trying to meet our current needs as we struggle with limited incomes. Parents and grandparents focus on things for the children--soccer, football, music lessons, presents, and the like.</p>

  <p>All these things look good, even seem magnificent, but they are all the same. They will all pass away. "Not one stone here will be left on another."</p>

  <p>As we live in a busy culture, Satan tries to get us involved in everything but what is truly important and that is a life with Jesus Christ. We need to build that life first, to seek first the kingdom of God and his righteousness and know that all these other things will be added because God knows our needs. God is not asking us to live without enjoyment or pleasure. He asks only that we put him, his kingdom, and its work first, for only what's done for Christ will last forever.</p>

  <p>We put so much into the things of this world, things which seem so big, so important but all of these things will pass away. There is only one thing that truly endures, that truly has lasting importance. That is where we want our energies to go first: putting ourselves into the relationship with Christ where there is life eternal, and trusting the Lord to give us everything else we need in life, even as he guarantees eternal life for us.</p>


  <p>In His Service,</p>
  <p>Pastor Ross</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>