
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
  </center>


  <p>Dear Brothers and Sisters in Christ,</p>

  <p>This month the United States celebrates it's 232nd birthday. We who are US citizens have many reasons to celebrate. God has blessed our land in countless ways. It is entirely appropriate for us Christians to express our gratitude and thanks to God today for the name we live in and for the many civil freedoms we enjoy.</p>
  <p>The gratitude we feel in our hearts and express to God in prayer today we also want to express everyday of our lives. We do that by being good Christian citizens. Paul tells us in Romans 13:1-7 what God requires of us as Christian citizens. We are to submit to governmental authority, because it has been established by God. We are to support the government with our taxes. And we are to show respect to government officials, who are God's earthly representatives. Why? Because we as Christians have a high motive for practicing good citizenship. We do it out of love for Christ, our Savior.</p>
  <p>Outwardly, most things Christians do in practicing their citizenship may not appear any different from that the law-abiding non-Christians citizens do: Pay taxes, obey the law, vote and so on. But since the Lord has brought us to faith in Christ, we have a distinctly Christian reason for doing it all. "Christ's love compels us ... He died for all, that those who live should no longer live for themselves but for him who died for them and was raised again."</p>
  <p>Along with our distinctly Christian motivation for practicing our citizenship, there is one important thing we Christians can do for our country that unbelievers can't do. We can pray for our country and its leaders, knowing that God will hear and answer our prayers for Jesus' sake.</p>


  <p>In His Service,</p>
  <p>Pastor Ross</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>