
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
      <p><em>Train up a child in the way he should go, and when he is old he will not depart from it.<br />Proverbs 22:6</em></p>
  </center>


  <p>Dear Friends in Christ,</p>

  <p>September once again marks the beginning of another academic year, another year of learning and growth for our children and youth. The wisdom of the Proverb is obvious. Childhood and youth are especially receptive times for learning, and the learning they receive in their early years keeps them in good stead as the years march on.</p>
  <p>The obvious question is, "what kind of training are your children receiving?" There is godly training that leads to growth in faith, and there is another kind of training that leads to indifference and apathy. Sometimes we hear comments like, "I don't want to force my son or daughter to participate in Sunday School, Confirmation classes, or even Sunday worship, because I want them to make their own choices. Is that really the kind of training we want for our children and you? When children are not encouraged and guided in the spiritual growth and development, when they are allowed to be absent from Sunday School and worship service, they are being taught that God and his Word are not important. They are being taught the Church and the message of Jesus is somehow optional to people. That kind of training if not corrected with also remain in old age.</p>
  <p>We would never allow our children to skip school their whole lives. To do that would be to handicap them for their entire lives. The very same thing is true of their spiritual training and their spiritual lives, but with far more devastating consequences.</p>
  <p>The primary responsibility of the Christian education and the nurture of a child belongs to the parents. The Proverb is directed to them and the Church stands ready to be of great assistance to the parents in this critical task, but you must take advantage of the opportunities that are available.</p>
  <p>I cannot encourage you strongly enough to use the educational opportunities available here at Evergreen Lutheran for the Christian education of your children.</p>
  <p>Rally Day on September 13th begins a new school year here at Evergreen. Please plan to be here. It really is a matter of life and death.</p>

  <br />

  <p>In His Service,</p>
  <p>Pastor Ross</p>

</div>
</div><!-END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>