
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
      <p><em>I am the way the truth And the life. No one comes to the Father except through me.<br />John 14:6</em></p>
  </center>


  <p>Dear Friends in Christ,</p>

  <p>In his farewell talks with his disciples (recorded in chapters 14, 15, and 16 of John's Gospel), Jesus was preparing them for his imminent death. He spoke words of comfort to them.</p>
  <p>For the orphaned disciples, life would be a difficult journey traversing unknown territory and finally leading through the valley of death, a violent death for all of them except John. But the journey would be worthwhile, because of its glorious destination.</p>
  <p>The goal toward which Christ's followers still strive is not anything in this world. It is not what man's hands can build, the kinds of houses people want today, a winter home and a summer home. The destination is the Father's house of many mansions. To come face to face with our living God in Heaven, that is our goal.</p>
  <p>But it would be purposeless for Jesus to point to the destination if he didn't also give us the directions for getting there. What road must the disciples, and we, follow to reach the destination? Jesus is specific, <strong>"I am the way, the truth, and the life."</strong> This is one of many <strong>"I am"</strong> passages in John's Gospel, showing that Jesus equated himself with the Lord who revealed himself to Moses a <strong>"I AM WHO I AM."</strong> Jesus is the Way, the only road leading to the Father, and all who believe in him as their Savior have found the way. He is the Truth, the revealer of the true God and of his good and gracious will for our salvation. He is the Life, the giver of eternal life beginning here and now and reaching its fullness in heaven.</p>
  <p>Destination and directions for getting there. Heaven is the goal and Christ is the road. That is what our precious Lord reveals to us in his wonderful Word!</p>

  <br />

  <p>In His Service,</p>
  <p>Pastor Ross</p>

  <p>Make me to know they ways, O LORD; teach me thy paths. Psalm 25:4</p>
</div>
</div><!-END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>