
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>From our Pastor</h2><br />
  </center>

  <p>Dear friends in Christ,</p>

  <p>Certain groups and organizations in our country are constantly concerned that someone will take away our freedoms, such as the freedom of speech, the freedom to bear arms, or the freedom to worship. At times they can be very annoying and very picky. But, on the other hand, we should be grateful that others care about our freedoms. Someday it could happen that our freedoms are slowly taken away. People can be sneaky about this. No one is going to say, "I'm taking away your freedom." If they did, we would oppose them. But if it's done in a quiet manner, they might get away with it. That would be a terrible thing.</p>
  <p>The same thing is true concerning our freedom in Jesus. We are children of God through faith in Jesus Christ. He's done everything for our salvation. Jesus obeyed God's law perfectly for us. He made the complete payment for our sins with his death on the cross. Today we are free to live our lives for the glory of God with no strings attached. If Satan would say, "I'm taking your freedom in Jesus away," we would say, "No, you aren't." But Satan is sneakier than that.</p>
  <p>We need to be careful. Some might say we are better Christians if we listen to the right radio station or watch a certain TV program. Some might say we are better CHristians and more pleasing to God if we worship a certain way on a certain day, or if we fast, or avoid certain activities on certain days. Hearing such things, we might feel guilty if we don't follow along. We might begin to feel that we aren't good enough for heaven. Doubts concerning our salvation may creep into our hearts.</p>
  <p>Whenever we think we have to follow certain rules in order to be saved, one of two things happens. Either we doubt our salvation or we begin to think we are pretty good and perhaps more deserving than others. Both are bad.</p>
  <p>When such thoughts come to our hearts, let us return to God's Word for the truth. "We maintain that we are justified by faith apart from observing the law." Don't let anyone take that truth from us!</p>

  <p>Blessings in Christ,</p>
  <p>Pastor Ross</p>

</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>