
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
    <p><em>Create in me a pure heart, O God, and renew a steadfast spirit within me. Psalm 51:10</em></p>
  </center>

  <p>Dear Friends in Christ,</p>
  <p>We regularly renew subscriptions, car registrations, and prescriptions. We renew acquaintances, relationships, and friendships. These are renewals of outward things. The renewal David seeks in this psalm verse is spiritual. He seeks God's renewal for his heart and soul.</p>
  <p>After confessing his sins, he now desires a "pure heart," that he may serve the Lord with pure motives. He also asks for a "steadfast spirit" that will stand firm in the face of temptation. David asks for nothing less than a new attitude. He wants God to enable him to live a God-pleasing life. How does this renewal come about? Paul writes, "Be transformed by the renewing of your mind (Rom. 12:2). Such renewal comes about only when we immerse our hearts and minds in God's Word.</p>
  <p>By God's grace, David found renewal for his struggling spirit. Psalm 51 is evidence of this. He was well aware of the fact that he himself could not achieve renewal or a pure heart. He knew that willpower would not accomplish this, so he asked God for those blessings and received them through the Word.</p>
  <p>We need the renewal that God gives through his Word. We cannot achieve it ourselves. God gives and we receive.</p>
  <p>For many, renewal is a casual concept, revolving around rest and relaxation. A weekend away brings renewal, as does a day at the beach. For some, renewal is found in a  recliner or in vigorous exercise. But these approaches attend to only physical renewal. True renewal of the spirit is something only God gives, and it comes only through God's Word. Renewal takes place when we spend time with Jesus. Worship, Bible study, reception of the Lord's Supper, and scriptural meditative prayer all get us to spend time with Jesus. The renewal that results is both refreshing and resistant. It refreshes us spiritually. It strengthens our resolve to fight temptation and to serve the Lord.</p>
  <p>During the Lenten season our focus is on sin and renewal. Our sins, and our renewal. As we repent of our sins we seek to change our lives so that they are in line with God's will. Perfectly pure hearts and sinless, steadfast spirits cannot be achieved this side of heaven, since sin will be with us until the grave. But Christ's sacrifice covers our sins and makes us pure in God's sight, even as his Word provides daily, refreshing and renewal.</p>
  <p>May our God continue to refresh us and renew us as we journey toward the cross during this Lenten season.</p>

  <p>In His Service,</p>
  <p>Pastor Ross</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>