
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
  </center>

  <center><em>Early on the first day of the week, while it was still dark, Mary Magdalene went to the tomb and saw that the stone had been removed from the entrance. So she came running to Simon Peter and the other disciple, the one Jesus loved, and said, "They have taken the Lord out of the tomb, and we don't know where they have put him<br/>John 20:1,2</em></center>

  <p>Dear Friends in Christ,</p>

  <p>Mary was afraid. Her Jesus was dead. Not only had she lost a dear friend but also all hope for salvation. All she could do was to make sure that his body, so hurriedly buried in Joseph's tomb, was properly preserved.</p>

  <p>So she went early that first Easter with her embalming spices. From a distance she noticed that the stone had been rolled away. Tearfully, she rushed back to Jerusalem to give Peter and John the terrible news: "They have taken the Lord out of the tomb, and we don't know where they have put him!"</p>

  <p>"Mary," we feel like shouting, "you looked at the empty grave but didn't see it's message. Instead of seeing a Lord raised by God's love and rejoicing in the eternal life he offers, you in your fear saw only death."</p>

  <p>Can you blame her? As sinful human beings, we're so afraid of death that we don't even like to think about it. We don't even like to use the word. Peope don't die&mdash;they pass away. We don't even like to look at death. We mask it behind makeup and bouquets of flowers and comfortable looking caskets.</p>

  <p>But let's not repeat Mary's mistake. She ran away from the mpty Easter tomb. We want to run to it. Desperately, daily, we need the answers that tomb shouts out to us: "He is not here! He is risen!"</p>

  <p>Look and listen more to that Easter tomb. It speaks to us not only about our Jesus but also about ourselves. "Death is defeated," it shouts to us. There are two doors to our graves&mdash;one marked "entrance" by sin's wage and the other marked "exit" by the Savior's resurrection.</p>

  <p>To beloved believers whom we lay in the grave we say not "goodbye" but "see you again." And when our day comes, that empty Easter tomb reinforces the Savior's promise, "Because I live, you also will live."</p>

  <p>Of all the questions we face, none is greater than those about life and death.</p>


  <p>He is Risen!</p>
  <p>Pastor Ross</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>