
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>From our Pastor</h2><br />
  </center>

  <p>Dear friends in Christ,</p>

  <center><p><em>Your Word is a lamp to my feet<br />And a light to my path.<br />Psalm 119:105</em></p></center>

  <p>Labor Day for many marks the end of summer and the beginning of a new school year. It also marks the beginning of a new school year here at Evergreen, not only for the children in our preschool, but also for us as children of God.</p>
  <p>As you look at September's church calendar, you will see there are going to be many opportunities once again to study God's Word together.</p>

  <ul>
    <li>On Rally Day, September 13th, our children's Sunday School classes will start their new school year. Please encourage your children to attend so that they can grow in their faith and knowledge of God.</li>
    <li>The Sunday morning adult class will begin a new study on the book of Exodus.</li>
    <li>On Tuesday the 22nd of September our women's Tuesday morning class will begin the "LifeLight" series on Paul's letter to the Romans. Please register for the class with MaryAnn so that your materials will be here ready for you when class starts.</li>
    <li>Augie is leading our Saturday men's breakfast group the the book of Acts; Luke's history of the New Testament church.</li>
    <li>Junior confirmation classes start on THursday the 17th of September. Two classes will be offered this year. One on THursday afternoons at 2:00pm and the other at 6:30 pm on Thursday evening. Parents please notify MaryAnn at the church office as to which class your child will be attending.</li>
    <li>Our Thursday evening women's bible study will begin on September the 24th at 6:30 pm. Please call the office for further details.</li>
  </ul>

  <p>Please join us as we fellowship together and grow in wisdom and knowledge of our Almighty God.</p>

  <p>Pastor Ross</p>

</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>