
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>From our Pastor</h2><br />
  </center>

  <center><em>Give thanks to the Lord, for he is good. His love endures forever.</em></center>

  <p>Dear friends in Christ,</p>

  <p>One man was trying to persuade another to attend church. He said, "Don't you think you owe the Lord something?" The other man answered, "Yes, I suppose so, but he isn't pressing me as hard as my other creditors!"</p>
  <p>True, and he never will. God will never send you a bill, or send out somebody to collect what you owe him. He doesn't keep reminding us how deeply we are in debt. This is something he would like for us to find out for ourselves.</p>
  <p>It is one thing to be told that we have a lot to be thankful for; it is quite another to make the discovery on your own. We can be told and not be convinced, but what we discover we can be sure of. And each of us needs to make the discovery that he or she is deeply indebted person.</p>
  <p>A CHristian person is one who has made this discovery; a Christian person is a truly thankful one; there is no way to be a Christian and not be thankful. As Christians, we are indebted for the love which sent Christ into the world, for the love which brought him to the cross, for the power that raised him from the dead, for the grace by which we have salvation, for the goodness by which we are blessed all along the way.</p>
  <p>On Thanksgiving Day all across the country people will be taking time to give thanks. For some, this will be the only day of the year that they will pause to do so.</p>
  <p>How sad it would be if that attitude described us. Our God has blessed us abundantly, just as he promised. He has provided us with clothing and shoes, food and drink, house and home, and all that we own, and all we need to keep our bodies and lives, as we confess with Luther in his explanation of the First Article of the Apostles Creed. And we remember that God does all this, not because we have earned or deserve it, but only because he is our good and merciful Father in heaven, how eager we should be to thank and praise, to serve and obey him.</p>
  <p>Let everyday of our lives be a day of thanksgiving, for our God is good and his love endures forever.</p>

  <p>In His Service,</p>
  <p>Pastor Ross</p>

</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>