
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
  </center>

  <p>Dear Friends in Christ,</p>

  <p>Happy New Year!  Do you think I might be one month too early?  Not really.</p>
  <p>The first Sunday of Advent marks the beginning of the new "Church Year."</p>
  <p>Advent means "coming", and we mark this time with expectant waiting for the long promised Messiah.  By sharing in the preparation for the Savior's first coming, the faithful renew their ardent desire for his second coming.</p>

  <p>Over the next four weeks, the Sunday readings will give us reason to pause and reflect on this "coming".  Our preparation is both penitential and joyful.  John the Baptist, the last of the prophets, tells us to make our hearts and lives ready.</p>

  <p>Often, though, the celebration of the Church's New Year gets a bit overrun with all the secular preparation for Christmas.  You know, all that SHOPPING, BAKING, MAILING, COOKING, and DECORATING you must do.  The children are already getting impatient&mdash;is it Christmas yet?  Who can blame them?  The stores and malls are already decorating for Christmas.</p>

  <p>Sometimes the wait becomes burdensome, and we wonder&mdash;is it worth it?  By the time the middle of December rolls around, we join the chorus of people wishing the whole thing could just be done with.  Perhaps we over-plan and over-prepare rather than embracing the Advent season for the quiet waiting it represents.</p>

  <p>We're not very good at waiting.  Everyday evidence proves it.  Waiting in lines causes our blood pressure to rise.  We drive while eating and talking on our cell phones which need I remind you is a no-no, now.  We want everything in life to be NOW!  Instant gratification, even if we don't realize it, has become a way of life.  We want it all in "real time."</p>

  <p>Mary the mother of our Lord, found herself waiting and wondering some 2000 years ago.</p>
  <p>We know Mary experienced joy, but she probably experienced worry as well.  After all, there were no medical handbooks or pregnancy classes for her to attend.  Here she was traveling great distances on the back of a donkey during her ninth month.  And after all that, Mary settled down in a stable to give birth to the Messiah.</p>

  <p>The first Advent season didn't unfold like a well laid-out plan.  The holy family had to trust in God and wait to see where God would lead them next.</p>

  <p>Unlike our well planned calendar full of 25 hour days, the holy family took it one step at a time.  Wouldn't it be wonderful if we could give ourselves permission to "let go" of some of the activities we consider "must do's" during Advent?</p>

  <p>Why can't we simply make that one of our New (Church) Year resolutions?</p>




  <p>Blessing in Christ,</p>
  <p>Pastor Ross</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>