
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html>
    <head>
        <title>Evergreen Lutheran Church, LCMS &nbsp;&nbsp;| &nbsp;&nbsp;Seabeck, WA</title>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Evergreen Lutheran Church LCMS is located in Seabeck, WA, a beautifully wooded and rapidly growing area located on the Kitsap Peninsula.">
    <meta name="keywords" content="Seabeck Silverdale Poulsbo Bremerton Kitsap Washington WA LCMS ELCA WELS Lutheran church chapel worship God Jesus faith">
        <link rel="stylesheet" type="text/css" href="../_resources/default.css" media="screen, projection, tv" title="Default" />

    <link rel="icon" type="image/x-icon" href="../_resources/rose.ico" />

        <script type="text/javascript" src="../_scripts/p7_eqCols2_10.js"> </script>
    <script type="text/javascript" src="../_scripts/external.js"> </script>
    <script type="text/javascript" src="../_scripts/faviconize.js"> </script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2285359-1";
    urchinTracker();
    </script>
    </head>

<body onload="P7_equalCols2(0,'leftCol','P','rightCol','P')" >     <!-- javascript to match column heights -->
    <div id="container">
        <div id="menuBar">
            <ul>
                <li><a href="../resources">Resources</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#" id="rightcorner">&nbsp;</a></li>
            </ul>
        </div>

        <div id="siteName"><a href="./">Evergreen Lutheran Church</a></div>

        <div id="leftLeftCol"><a href="http://www.seabecklutheran.org"><img src="../_resources/roseLeftSide.gif" alt="piece of Lutheran rose" /></a></div>

        <div id="leftCol">
            <div id="masthead">
        <a href="http://www.seabecklutheran.org"><img src="../_resources/roseTopRightCorner.gif" class="floatLeft" /></a>
                <p class="right"><br />worship: 10:00 am<br />
                sunday school: 8:45 am</p>
            </div>

      <div id="content">
        <a href="http://www.seabecklutheran.org" class="rose"><img src="../_resources/roseBottomRightCorner.gif"></a>
<!-- Content, left column -->


  <center>
      <h2>Under the Cross</h2><br />
  </center>

  <p>Christ Lives!</p>

  <p>It's true, Christ rose. Two facts stand undeniable in the Easter message: On the third day the tomb was empty, and Jesus was seen alive.</p>

  <p>This is the crowning evidence of his Messiahship and his eternal Sonship. When Jesus was challenged by the opposition to perform one master miracle and give them one indisputable sign by which they were to know that he is before Abraham, then Jesus said he would give them the sign of the Prophet Jonah. Again Jesus challenged them: "Destroy this temple, and in three days I will raise it again."</p>

  <p>The sign of Jonah is fulfilled. As Jonah was in the belly of the fish and came forth alive, so Jesus was in the tomb until the third day and was then seen alive. "Behold my hands and my feet that it is I myself."</p>

  <p>What difference does it make that Jesus rose? All the difference in the world! If Christ is not risen, then we are still unforgiven sinners, then we must face a condemning judgment, then heaven is closed forever to us, then we have no hope as we stand at open graves, then we are indeed the most miserable creatures on earth. Truly it would be better if we have never been born.</p>

  <p>The Easter victory brings to us life, and heaven, joy and peace, certainty and security. Sin can't condemn us, for we are justified by faith, which holds fast to the eternal truth that the blood of the Lamb cleanses us from all our transgressions.</p>

  <p>Easter is the brightest spot on the horizon of life. Each year we celebrate the greatest victory in history when we sign our Eastern hallelujahs. We need not despair. We need not perish. We believers shall behold Christ in glory. And so shall we be forever with the Lord---all because he died and rose again.</p>


  <p>In the name of our risen Lord and Savior, Christ Jesus.</p>
  <p>Pastor Ross</p>
</div>
</div><!-- END OF leftCol -->

<div id="rightCol">

<div id="menu">
<dl>
    <dt><a href="../confessions">Confessions</a></dt>
    <dt class="menuSubtitle">what we believe</dt>

    <dt><a href="../resources">Resources</a></dt>
    <dt class="menuSubtitle">study guides &amp; relevant links</dt>

    <dt><a href="../preschool">Evergreen Preschool</a></dt>
    <dt class="menuSubtitle">the right start for your children</dt>

    <dt><a href="../contact">Contact</a></dt>
    <dt class="menuSubtitle">contact information &amp; directions</dt>
</dl>
</div>
<!-- Content, right column -->


<p>&nbsp;</p>     <!-- must be here for equal column height script to work -->
        </div> <!-- END OF rightCol -->

        <div id="footer">
        
        </div>
    </div>
    </body>
</html>